/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.body{
    background: #f1f5f8;
    color: #222;
}

.head{
    color: white;
    background: black;
}

.book{
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.book h1{
    margin-top: 0.5rem;
}

.book h4{
    color: #617d98;
    margin-top: 0.25rem;
    letter-spacing: 3px;
    font-size: 0.75rem;
}

.book-img{
    height: 300px;
    width: 200px;
}

.btn{
    margin-top: 10px;
    padding: 4px;
    background-color: rgb(121, 59, 179);
    color: white;
    font-size: 20px;
}